.div-wrap {
    position: fixed;
    width: 100%;
    top: -100px;
    left: 0;
    height: 100px;
    text-align: center;
    opacity: 0;
    transition: all .5s ease;
    z-index: 11;

    &.enter-active {
        top: 30px;
        opacity: 1;
    }

    &.leave-active {
        top: -100px;
        opacity: 0;
    }

    &.error .m-toast {
        background-color: #FFCCCC;
        color: #fa565a;
        border-color: #fa565a;
    }

    &.info .m-toast {
        background-color: #CCFFFF;
        color: #66CCFF;
        border-color: #66CCFF;
    }

    &.default .m-toast {
        background-color: #333;
        color: #eee;
        border-color: #111;
    }

    &.success .m-toast {
        background-color: #99FFCC;
        color: #48C2B6;
        border-color: #48C2B6;
    }
}
.m-toast {
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px transparent solid;
}